* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--pri-font);
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --pri-color1: #3e5f44;
  --pri-color2: #5e936c;
  --sec-color1: #93da97;
  --sec-color2: #e8ffd7;

  --pri-font: "Poppins";
}

body {
  background-color: var(--sec-color2);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--pri-color2);
  padding: 15px 20px;
}

h1 {
  color: white;
}

#header-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#header-btns button {
  height: 45px;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--pri-color1);
}

#recycle-bin-btn,
#theme-toggle-btn {
  height: 45px;
  background-color: white;
  text-align: center;
  padding-top: 10px;
  cursor: pointer;
  width: 45px;
  border-radius: 50%;
  margin-left: 15px;
}

#recycle-bin-btn > svg, #theme-toggle-btn > svg {
  fill: var(--pri-color1);
}

#add-note-btn {
  padding: 0 15px;
  border-radius: 50px;
}

#recycle-bin {
  padding-top: 6px;
}

#note-dialog:modal {
  display: grid;
  grid-template-rows: 15% 85%;
  align-content: center;
  margin: auto auto;
  width: 40%;
  height: 50%;
  border: none;
  border-radius: 20px;
}

/* #note-dialog::backdrop {
  filter: brightness(0.4);
  filter: opacity(25%);
} */

body:has(#note-dialog:modal) > :not(#note-dialog),
body:has(#note-dialog:modal) > * :not(#note-dialog *) {
  filter: blur(25px);
  transition: filter 0.1s ease-in;
}

#note-dialog h2 {
  display: inline;
}

#dialog-header {
  display: flex;
  justify-content: space-between;
  background-color: var(--pri-color2);
  align-items: center;
  color: white;
  padding: 0 20px;
}

#close-icon-btn {
  width: 40px;
  border-radius: 10px;
  padding-top: 5px;
  border: none;
  background-color: var(--pri-color1);
  cursor: pointer;
}

#close-icon-btn svg {
  fill: white;
}

#dialog-action-btns {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-top: 20px;
}

#dialog-action-btns button {
  font-size: 1.2em;
  padding: 5px 20px;
  margin-left: 20px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  background-color: var(--pri-color2);
  color: white;
  transition: all 0.1s ease-in;
}

#dialog-action-btns button:hover {
  transform: scale(1.05);
  background-color: var(--pri-color1);
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.3);
}

#note-form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
}

#new-note-title-div {
  display: flex;
  flex-direction: column;
  height: 4;
}

#new-note-content-div {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  border: none;
  border-radius: 10px;
  background-color: var(--sec-color2);
  padding: 15px;
  font-size: 1rem;
}

input:focus,
textarea:focus {
  outline: none;
}

input {
  width: 100%;
  height: 50px;
}

textarea {
  width: 100%;
  height: 150px;
  resize: none;
}

label {
  font-size: 1.3rem;
  padding: 10px;
  font-weight: 500;
}

.notes-container {
  display: grid;
  align-content: start;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
  padding: 20px;
}

.note-cell {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  text-align: justify;
  overflow: hidden;
  overflow-x: hidden;
  background-color: var(--sec-color1);
  height: 300px;
}

.note-cell p:nth-child(1) {
  background-color: var(--pri-color1);
  color: white;
  padding: 10px 10px 10px 20px;
}

.note-cell p:nth-child(2) {
  padding: 10px 20px;
}

.notes-container-at-load {
  display: grid;
  height: 85vh;
  place-items: center;
}

#empty-placeholder {
  font-size: 4rem;
  padding: 40px;
  opacity: 0.5;
  text-align: center;
}

#add-note-icon {
  display: grid;
  place-items: center;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 30px;
  width: 100px;
  height: 100px;
  background-color: var(--pri-color2);
  border-radius: 35%;
  color: white;
  font-size: 5rem;
  cursor: pointer;
  line-height: 0;
  transition: all 0.3s;
  box-shadow: 0 0 25px 5px rgba(0, 0, 0, 0.3);
}

#add-note-icon:hover {
  transform: scale(1.1) rotate(90deg);
  background-color: var(--pri-color1);
  border-radius: 50%;
}
